:root {
    --link-color: #2E2F42;
    --social-link-color: #000000;
    --link-color_hover: #404bbf;
    --heading-font-family: "Roboto , Raleway", sans-serif;
    --text-font-family: "Roboto", sans-serif;
}

* {
    font-family: var(--text-font-family);
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* styles pentru index.html */

.header .container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #E7E9FC;
    align-items: center;
    box-sizing: border-box;
}

.footer {
    background-color: #2E2F42;
}

.footer .container {
    justify-content: left;
    border-top: 1px solid #E7E9FC;
    display: flex;
}

.footer-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.social-media {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    margin-top: 100px;
    margin-left: 120px;
}

.icon-list {
    display: flex;
    gap: 16px;
}

.icon-list .icon {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    color: white;
}

.icon-list .icon:focus {
    color: white;
}

.icon-list .icon:hover {
    color: #4D5AE5;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.our-team-cards .icon-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

.logo {
    display: flex;
    width: 115px;
    height: 24px;
    margin-left: 0;
    justify-content: center;
}

.logo:hover {
    color: #404BBF;
}

.left-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #4d5ae5;
}

.right-logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #F4F4FD;
}

.after-logo {
    width: 264px;
    height: 72px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    justify-content: left;
}

.left-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #4d5ae5;
}

.right-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #2E2F42;
}

.nav-clas {
    display: flex;
    width: 261px;
    height: 24px;
    justify-content: space-between;
    margin-right: 332px;
}

.studio-class {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E2F42;
}

.studio-class:hover {
    color: #404BBF;
}

.portofolio-class {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E2F42;
}

.portofolio-class:hover {
    color: #404BBF;
}

.contacts-class {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #2E2F42;
}

.contacts-class:hover {
    color: #404BBF;
}

.adress {
    display: flex;
}

.adress li:hover {
    color: #404BBF;
}

.contactsmail {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
    width: 153px;
    height: 24px;
}

.contactsmail:hover {
    color: #404BBF;
}

.contactstel {
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
    width: 151px;
    height: 24px;
    justify-content: right;
}

.contactstel:hover {
    color: #404BBF;
}

.hero-section {
    background-image: linear-gradient(rgba(25, 28, 38, 0.4), rgba(25, 28, 38, 0.4)), url("../images/people-office.png");
    background-size: cover;
}

.hero-section1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.hero-section .container {
    display: flex;
    padding: 94px 0;
}

.effective-solutions {
    width: 496px;
    height: 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #FFFFFF;
}

.buton-order-service {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 16px, 32px, 16px, 32px;
    border-radius: 4px;
}

.buton-order-service:hover {
    background-color: #404BBF;
}

.our-goals-container {
    display: flex;
    padding: 94px 0;
    justify-content: center;
    align-items: center;
}

.o-g-class::before {
    content: url("../icons/antenna.svg");
    display: block;
}

.o-g-class1::before {
    content: url("../icons/clock.svg");
    display: block;
}

.o-g-class2::before {
    content: url("../icons/diligence.svg");
    display: block;
}

.o-g-class3::before {
    content: url("../icons/technologies.svg");
    display: block;
}

.our-goals-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}

.o-g-description-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
}

.card-images .container {
    padding: 94px 0;
    align-items: center;
    text-align: center;
}

.c-i-clasa {
    display: flex;
    justify-content: space-between;
}

.team-card1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.team-card2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.team-card3 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.team-card4 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.card-images-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #2E2F42;
    text-align: center;
}

.our-team-cards {
    display: flex;
    justify-content: space-between;
}

.our-team .container {
    padding: 94px 0;
    align-items: center;
    text-align: center;
}

.our-team-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2E2F42;
}

.o-t-clas {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
}

.our-team {
    background-color: #F4F4FD;
}

.our-goals {
    display: flex;
    justify-content: center;
    padding: 94 0;
}

.customers {
    display: flex;
    padding: 94 0;
}

.customers-logo {
    display: flex;
    gap: 24px;
    margin-bottom: 94px;
    margin-top: 94px;
}

.card-customers-class {
    display: flex;
    justify-content: center;
    margin-top: 94px;
}

.client1::after {
    content: url("../icons/Client1.svg");
    display: block;
    margin-left: 24px;
}

.client2::after {
    content: url("../icons/Client2.svg");
    display: block;
    margin-left: 24px;
}

.client3::after {
    content: url("../icons/Client3.svg");
    display: block;
    margin-left: 24px;
}

.client4::after {
    content: url("../icons/Client4.svg");
    display: block;
    margin-left: 24px;
}

.client5::after {
    content: url("../icons/Client5.svg");
    display: block;
    margin-left: 24px;
}

.client6::after {
    content: url("../icons/Client6.svg");
    display: block;
    margin-left: 24px;
}

.footer-container {
    width: 264px;
}

.filters {
    padding: 94px 0;
}

.filter-butons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterall {
    width: 69px;
    height: 48px;
    background-color: #404BBF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-right: 24px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
        0 3px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.filterall:hover {
    background-color: #404BBF;
}

.filterbuton {
    width: 116px;
    height: 48px;
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4D5AE5;
    margin-right: 24px;
    border-radius: 4px;
}

.filterbuton:hover {
    background-color: #404BBF;
}

.filterbuton1 {
    width: 78px;
    height: 48px;
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4D5AE5;
    margin-right: 24px;
    border-radius: 4px;
}

.filterbuton1:hover {
    background-color: #404BBF;
}

.filterbuton2 {
    width: 101px;
    height: 48px;
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4D5AE5;
    margin-right: 24px;
    border-radius: 4px;
}

.filterbuton2:hover {
    background-color: #404BBF;
}

.filterbuton3 {
    width: 126px;
    height: 48px;
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #4D5AE5;
    margin-right: 24px;
    border-radius: 4px;
}

.filterbuton3:hover {
    background-color: #404BBF;
}

.firstcard-class {
    display: flex;
    justify-content: space-between;
}

.secondcard-class {
    display: flex;
    justify-content: space-between;
    padding: 94px 0;
}

.thirdcard-class {
    display: flex;
    justify-content: space-between;
    padding: 94px 0;
}

.firstcard-classh {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2E2F42;
}

.firstcard-classp {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2E2F42;
}

.carduri:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

/* alte clase */

.container {
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.container:not(:first-child):not(:last-child) {
    padding: 94px 0;
}
i {{
        border-width: 2px;
        border-style: dotted;
        border-color: grey
        ;
    }
    